body {
  background-color: rgb(54, 162, 250);
}

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 10px;
}

table.GeneratedTable thead {
  background-color: #ffffff;
}

h3 {
  text-align: center;
  margin-top: 7em;
}
